.product-filter {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 10px; 
  margin-top: 20px;
  margin-bottom: 20px;

  input[type="number"],
  select,
  input[type="text"] {
    margin-right: 10px;
    padding: 0.7em 0.6em 0.3em;
    outline: 1px solid #E5E5E5;
    font-size: 14px;
  }

  button {
    padding: 0.7em 0.6em 0.3em;
    margin: 0 4px;
    border: none;
    outline: 1px solid #E5E5E5;
    background-color: #ffffff;
    color: #696767;
    cursor: pointer;
    transition: background-color 0.3s;

  }

  button:not(:last-child) {
    margin-right: 10px;
  }

  button:hover {
    background-color: #E5E5E5;
  }
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px; 
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #696767; 
  transform: translateY(-50%);
}

.select-wrapper select {
  border: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: 1px solid #E5E5E5;
  color: #696767;
  padding-right: 20px;
  cursor: pointer;
}
