.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(33.33% - 20px); /* Три столбца на широких экранах */
}

.next-page-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-page-button:hover {
  background-color: #0056b3;
}

.previous-page-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.previous-page-button:hover {
  background-color: #0056b3;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


.btn {
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
}
